/*
	Copyright © 2012 SRMVision https://www.srmvision.com/
	Licensed MIT, see license.txt
	Document: jstrac.css
	Created: 24th of July, 2012
	Author: Romain Laï-King
	Description: CSS for the trac modal popup
*/

#tracModalPopup{
max-width:800px;
margin-top:-250px;
}

#tracModalHeader{
	height:50px;
}



#tracTabBar .active{
	border-bottom:0px;
}

#tracTabBar a{
	text-decoration:none;
}

#tracTabBar a:link{
	color:black;
}

#tracTabBar li{
	//margin-bottom:-5px;
}

#tracForm {
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	width: 80px;
	margin-left:20px;
	display:block;
	width:480px;
	height:'360px';
	float:left;
}

#tracNewPane input,
#tracNewPane textarea,
#tracUpdatePane textarea{
  width: 450px;
}

#tracForm h2{
	font-weight:bold;
}
#tracForm label{
	display:inline-block;
	margin-top:5px;
}
.tracSelect{
float:left;
margin-top:5px;
}

.tracSelect label {
display:block;
width:80px;
text-align:right;
margin-right:5px;
float:left;
}
.tracSelect select{
float:left;
width:150px;
padding:0px;
}
.tracSelect input{
width:100px;
}

#tracTicketInfo {
clear:both;
}

.tracBar{
clear:both;
margin-top:20px;
margin-right:30px;
float:right;
}
.tracBar button{

margin-left:20px;
margin-bottom:20px;
}

#tracLeftPane{
float:left;
max-width:260px;
}
#screenshotPreview {
	margin-top:20px;
	margin-left:10px;
	margin-bottom:20px;
	display:block;
	max-height:360px;
	max-width:260px;
}

.tracAction label{
    margin-left:5px;
}

.tracHint {
    display:inline-block;
    font-size:11px;
    font-style:italic;
    margin-left:5px;
}


#updateTicketIdSelect label {
	width:150px;
}

#updateTicketIdSelect select{
	width:80px;
}

#prefillTrac{
	width:250px;
	word-wrap: break-word;
	margin-top:20px;
	margin-left:10px;
}